apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-gpu-plugin
  namespace: kube-system
spec:
  interval: 1h
  chart:
    spec:
      chart: intel-device-plugins-gpu
      sourceRef:
        kind: HelmRepository
        name: intel
      version: 0.34.0
  values:
    sharedDevNum: 10
    nodeSelector:
      intel.feature.node.kubernetes.io/gpu: "true"
