apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      app:
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.3
              pullPolicy: IfNotPresent
            env:
              TZ: "America/New_York"
              QBT_PROFILE: "/config"
              QBT_WEBUI_PORT: "8080"
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                cpu: 2000m
                memory: 2Gi
            securityContext:
              runAsUser: 1000
              runAsGroup: 1000
          gluetun:
            dependsOn: app
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.40.3
              pullPolicy: IfNotPresent
            env:
              DOT: "off"
              DNS_KEEP_NAMESERVER: "on"
              DNS_ADDRESS: "103.86.96.100"
              TZ: "America/New_York"
              FIREWALL_INPUT_PORTS: "8080"
              VPN_SERVICE_PROVIDER: nordvpn
              VPN_TYPE: openvpn
              OPENVPN_USER:
                valueFrom:
                  secretKeyRef:
                    name: nordvpn-credentials
                    key: username
              OPENVPN_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: nordvpn-credentials
                    key: password
            securityContext:
              runAsGroup: 0
              runAsUser: 0
              capabilities:
                add:
                  - NET_ADMIN
            resources:
              requests:
                cpu: 50m
                memory: 64Mi
              limits:
                cpu: 500m
                memory: 256Mi
          qbrr:
            dependsOn: app
            image:
              repository: ghcr.io/buroa/qbrr
              tag: 0.1.2
              pullPolicy: IfNotPresent
            args:
              - --log-level
              - info
            env:
              TZ: "America/New_York"
              QBITTORRENT_HOST: "http://localhost:8080"
              QBITTORRENT_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: qbit-credentials
                    key: username
              QBITTORRENT_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: qbit-credentials
                    key: password
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                cpu: 100m
                memory: 256Mi
            securityContext:
              runAsUser: 1000
              runAsGroup: 1000
    service:
      app:
        enabled: true
        primary: true
        type: ClusterIP
        controller: app
        ports:
          http:
            enabled: true
            primary: true
            port: 80
            protocol: HTTP
            targetPort: 8080
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.woo-ops.dev"
          - qbittorrent.woo-ops.dev
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
    ingress:
      app:
        enabled: false
    persistence:
      config:
        enabled: true
        type: nfs
        server: "192.168.0.5"
        path: "/mnt/storage/config/qbittorrent"
        advancedMounts:
          app:
            app:
              - path: /config
                readOnly: false
      downloads:
        enabled: true
        type: nfs
        server: "192.168.0.5"
        path: "/mnt/main/downloads"
        advancedMounts:
          app:
            app:
              - path: /downloads
                readOnly: false
      tmpfs:
        enabled: true
        type: emptyDir
        advancedMounts:
          app:
            app:
              - path: /config/qBittorrent/logs
                subPath: logs
              - path: /tmp
                subPath: tmp
