---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: nzbget
spec:
  interval: 1h
  path: ./kubernetes/apps/downloads/nzbget/app
  postBuild:
    substitute:
      APP: nzbget
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: downloads
