apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prowlarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      app:
        annotations:
          reloader.stakater.com/auto: "true"
        enabled: true
        type: deployment
        replicas: 1
        containers:
          app:
            image:
              repository: linuxserver/prowlarr
              tag: 2.0.5.5160-ls125
              pullPolicy: IfNotPresent
            env:
              TZ: "America/New_York"
              PUID: 1000
              PGID: 1000
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                cpu: 1000m
                memory: 1Gi
        # Pod-level security context
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
    service:
      app:
        enabled: true
        primary: true
        type: ClusterIP
        controller: app
        ports:
          http:
            enabled: true
            primary: true
            port: 80
            protocol: HTTP
            targetPort: 9696
    route:
      app:
        annotations:
          gatus.home-operators.com/endpoint: |-
            url: http://prowlarr.woo-ops.dev:7878
        hostnames:
          - "{{ .Release.Name }}.woo-ops.dev"
          - prowlarr.woo-ops.dev
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
    ingress:
      app:
        enabled: false
    persistence:
      config:
        enabled: true
        type: nfs
        server: "192.168.20.5"
        path: "/mnt/storage/config/prowlarr"
        globalMounts:
          - path: /config
            readOnly: false
