---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: recyclarr
spec:
  interval: 1h
  path: ./kubernetes/apps/downloads/recyclarr/app
  postBuild:
    substitute:
      APP: recyclarr
  prune: true
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: media
