---
clusterName: home-cluster
talosVersion: v1.11.5
kubernetesVersion: v1.34.1
endpoint: https://192.168.0.20:6443

# Basic cluster config
cniConfig:
  name: none
clusterPodNets:
  - 10.244.0.0/16
clusterSvcNets:
  - 10.96.0.0/12

# Nodes - All as control planes
nodes:
  - hostname: delta
    controlPlane: true
    ipAddress: 192.168.0.20
    installDisk: /dev/sda
    installImage: "factory.talos.dev/metal-installer/dc8730aa8cc7bfa5ef7e2b3284248f2631135b2faf4ae11aa997a0c1987b0eee:v1.11.5"
    nameservers:
      - 192.168.0.1
    networkInterfaces:
      - interface: eno1
        dhcp: true
    nodeLabels:
      topology.kubernetes.io/zone: control-1
      intel.feature.node.kubernetes.io/gpu: "true"
    kernelModules:
      - name: i915

  - hostname: alpha
    controlPlane: true
    ipAddress: 192.168.0.21
    installDisk: /dev/sda
    installImage: "factory.talos.dev/metal-installer/dc8730aa8cc7bfa5ef7e2b3284248f2631135b2faf4ae11aa997a0c1987b0eee:v1.11.5"
    nameservers:
      - 192.168.0.1
    networkInterfaces:
      - interface: eno1
        dhcp: true
    nodeLabels:
      topology.kubernetes.io/zone: control-2
      intel.feature.node.kubernetes.io/gpu: "true"
    kernelModules:
      - name: i915

  - hostname: omega
    controlPlane: true
    ipAddress: 192.168.0.22
    installDisk: /dev/sdb
    installImage: "factory.talos.dev/metal-installer/dc8730aa8cc7bfa5ef7e2b3284248f2631135b2faf4ae11aa997a0c1987b0eee:v1.11.5"
    nameservers:
      - 192.168.0.1
    networkInterfaces:
      - interface: eno1
        dhcp: true
    nodeLabels:
      topology.kubernetes.io/zone: control-3
      intel.feature.node.kubernetes.io/gpu: "true"
    kernelModules:
      - name: i915

patches:
  - |-
    cluster:
      coreDNS:
        disabled: true
      proxy:
        disabled: true
      allowSchedulingOnControlPlanes: true

  - |-
    machine:
      features:
        rbac: true
        stableHostname: true
        apidCheckExtKeyUsage: true
        kubernetesTalosAPIAccess:  # Add this
          allowedKubernetesNamespaces:
            - system-upgrade
          allowedRoles:
            - os:admin
          enabled: true

  # Performance sysctls
  - |-
    machine:
      sysctls:
        fs.inotify.max_user_watches: "1048576"
        fs.inotify.max_user_instances: "8192"
        net.core.default_qdisc: "fq"
        net.ipv4.tcp_congestion_control: "bbr"
        net.ipv4.tcp_fastopen: "3"
        net.ipv4.tcp_window_scaling: "1"

  # Kubelet config
  - |-
    machine:
      kubelet:
        extraConfig:
          serializeImagePulls: false
        defaultRuntimeSeccompProfileEnabled: true
        nodeIP:
          validSubnets:
            - 192.168.0.0/24

  # Time sync
  - |-
    machine:
      time:
        disabled: false
        servers:
          - time.cloudflare.com

  # Container runtime optimization
  - |-
    machine:
      files:
        - op: create
          path: /etc/cri/conf.d/20-customization.part
          permissions: 0o644
          content: |
            [plugins."io.containerd.cri.v1.images"]
              discard_unpacked_layers = false
            [plugins."io.containerd.cri.v1.runtime"]
              cdi_spec_dirs = ["/var/cdi/static", "/var/cdi/dynamic"]
              device_ownership_from_security_context = true

# Control plane specific patches
controlPlane:
  patches:
    - |-
      cluster:
        apiServer:
          certSANs:
            - 192.168.0.20
            - 192.168.0.21
            - 192.168.0.22

    - |-
      cluster:
        etcd:
          extraArgs:
            listen-metrics-urls: "http://0.0.0.0:2381"

    - |-
      cluster:
        controllerManager:
          extraArgs:
            bind-address: "0.0.0.0"

    - |-
      cluster:
        scheduler:
          extraArgs:
            bind-address: "0.0.0.0"
          config:
            apiVersion: kubescheduler.config.k8s.io/v1
            kind: KubeSchedulerConfiguration
            profiles:
              - schedulerName: default-scheduler
                pluginConfig:
                  - name: PodTopologySpread
                    args:
                      defaultingType: List
                      defaultConstraints:
                        - maxSkew: 1
                          topologyKey: kubernetes.io/hostname
                          whenUnsatisfiable: ScheduleAnyway
