---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
resources:
  - ./gatus/ks.yaml
  - ./otel/ks.yaml
  # - ./grafana/ks.yaml
components:
  - ../../components/namespace

patches:
  - target:
      kind: Namespace
      name: observability
    patch: |-
      - op: add
        path: /metadata/labels/pod-security.kubernetes.io~1enforce
        value: privileged
      - op: add
        path: /metadata/labels/pod-security.kubernetes.io~1audit
        value: privileged
      - op: add
        path: /metadata/labels/pod-security.kubernetes.io~1warn
        value: privileged
