apiVersion: opentelemetry.io/v1beta1
kind: OpenTelemetryCollector
metadata:
  name: otel-ds-collector
spec:
  config:
    receivers:
      hostmetrics:
        collection_interval: 30s
        scrapers:
          cpu:
          memory:

    processors:
      memory_limiter:
        check_interval: 1s
        limit_percentage: 75
        spike_limit_percentage: 15

    exporters:
      debug: {}

    service:
      pipelines:
        traces:
          receivers: [hostmetrics]
          processors: [memory_limiter]
          exporters: [debug]
