apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyseer
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      app:
        annotations:
          reloader.stakater.com/auto: "true"
        enabled: true
        type: deployment
        replicas: 1
        containers:
          app:
            image:
              repository: fallenbagel/jellyseerr
              tag: 2.7.3
              pullPolicy: IfNotPresent
            env:
              TZ: "America/New_York"
              PORT: "5055"
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                cpu: 1000m
                memory: 1Gi
            securityContext:
              runAsUser: 1000
              runAsGroup: 1000
    service:
      app:
        enabled: true
        primary: true
        type: ClusterIP
        controller: app
        ports:
          http:
            enabled: true
            primary: true
            port: 80
            protocol: HTTP
            targetPort: 5055
    route:
      app:
        annotations:
            url: https://{{ .Release.Name }}.woo-ops.dev/
        hostnames:
          - "{{ .Release.Name }}.woo-ops.dev"
          - jellyseer.woo-ops.dev
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
    ingress:
      app:
        enabled: false
    persistence:
      config:
        enabled: true
        type: nfs
        server: "192.168.20.5"
        path: "/mnt/storage/config/jellyseer"
        globalMounts:
          - path: /app/config
            readOnly: false
      media:
        enabled: true
        type: nfs
        server: "192.168.20.5"
        path: "/mnt/main/media"
        globalMounts:
          - path: /media
            readOnly: false
      downloads:
        enabled: true
        type: nfs
        server: "192.168.20.5"
        path: "/mnt/main/downloads"
        globalMounts:
          - path: /downloads
            readOnly: false
---
